
body{
    font: 20px;
}

.navbar{
    background-color: #FFE2F5;
}

.quem-somos{
    background-color: rgb(252, 241, 248); 
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}

.parceiros{
    background-color: rgb(246, 203, 255);
}

.servicos{
    text-align: justify;
}

.justificado{
    text-align: justify;
}

.bg-footer{
    background-color: lightpink;
}